<mat-toolbar color="blue">
    <span><img src="/assets/images/logoTravel.jpg" height=30 width=41></span>
    <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink="/travel" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Travel</a>
    <a mat-button routerLink="/aboutus" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
    <a mat-button routerLink="/stay" routerLinkActive="active"><span ></span> Stays</a>
    <a mat-button routerLink="/flights" routerLinkActive="active"><span ></span> Flights</a>
    <a mat-button routerLink="/cars" routerLinkActive="active"><span ></span> Cars</a>
    <a mat-button routerLink="/package" routerLinkActive="active"><span ></span> Packages</a>
    <a mat-button routerLink="/cruises" routerLinkActive="active"><span ></span> Cruises</a>
    <a mat-button routerLink="/contactus" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
    <span class="flex-spacer"></span>
    <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
  </mat-toolbar>
  
  <div class="container jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="50%">
      <h1>Agency Travel and Tourism</h1>
      <p>Awaken your senses
        Experience the world around you once again with these epic trip ideas!</p>
    </div>
    <div fxFlex></div>
  </div>
