$lt-gray: #ddd;
$background-dark: #2d58a8;
$background-light: #7594cd;
$background-pale: #D1C4E9;
$background-moredark: #2769a0;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}

.active {
    background: $background-moredark;
}
