<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Our History</h2>
        <p>The Travel Agency is a company that specialize in different types of services for the benefit of the traveler such as booking tickets and hotel accommodation, scheduling tours, car rental, etc .; and that bring the tourist product closer to the customer. The travel agencies are also in charge of preparing the tourist packages to offer them to the clients. </p>
        <p>Some functions of travel agencies is to advise and give information to the client, it is a mediator, that is, it takes out the tickets and is a producer since it makes the products of the services that are sold.</p>
        <p>The basic tourist packages contain accommodation and air ticket. We can also find those packages that contain accommodation, tickets, transportation, excursions and in many cases meals depending on the hotel. </p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>Started</dt>
              <dd>1 November . 2021</dd>
              <dt>Torres Shoffer</dt>
              <dd>Oquendo.</dd>
              <dt>Last Year's Turnover</dt>
              <dd>$1,250,375</dd>
              <dt>Employees</dt>
              <dd>10</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
</div>
