<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>Contact Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3> 
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          10, Torres Soffer<br>
          Av. Oquendo<br>
          Oquendo<br>
          <i class="fa fa-phone"></i>: +491 1234 5678<br>
          <i class="fa fa-fax"></i>: +491 8765 4321<br>
          <i class="fa fa-envelope"></i>: 
                <a href="acency:agency@travel.net">agency@travel.net</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel:+49112345678"><i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
          <a mat-raised-button href="acency:agency@travel.net"><i class="fa fa-envelope-o"></i> Email</a>
        </div>
        </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
      </div>
    </div>
  </div>
  
  <div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Send us your Feedback</h3>
    <div fxFlex  *ngIf="feedback" [@expand]>
      <mat-list>
        <h4>Your Submission</h4>
        <mat-list-item >
          <p matLine>
            <span>First Name: {{feedback.firstname}}</span>
          </p>
          <p matLine>
            <span>Last Name: {{feedback.lastname}}</span>
          </p>
          <p matLine>
            <span>Tel. Number: {{feedback.telnum}}</span>
          </p>
          <p matLine>
            <span>Email: {{feedback.email}}</span>
          </p>
          <p matLine>
            <span>Contact You?: {{feedback.agree}}</span>
          </p>
          <p matLine>
            <span>How?: {{feedback.contacttype}}</span>
          </p>
          <p matLine>
            <span>Feedbach: {{feedback.message}}</span>
          </p>
        </mat-list-item>
      </mat-list>
    </div>
    <form novalidate [formGroup]="feedbackForm" [hidden]= "isDisplayed" [@expand] #fform="ngForm" (ngSubmit)="onSubmit()">
      <div *ngIf="!isDisplayed && !feedback" [@expand]>
        <p>
          <mat-form-field class="half-width">
            <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
            <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
            <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
            <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="half-width">
            <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
            <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
            <input matInput formControlName="email" placeholder="Email" type="email" email required>
            <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
          </mat-form-field>
        </p>
        <table class="form-size">
          <td>
            <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
          </td>
          <td>
            <mat-select placeholder="How?" formControlName="contacttype">
              <mat-option *ngFor="let ctype of contactType" [value]="ctype">
                {{ ctype }}
              </mat-option>
            </mat-select>
          </td>
          </table>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
          </mat-form-field>
        </p>
        <button type="submit" [disabled]="feedbackForm.invalid" mat-button class="background-primary text-floral-white">Submit</button>
      </div>
    </form>
  </div>
  <div fxFlex [hidden]="!isDisplayed || errMess">
    <mat-spinner></mat-spinner><h4>Loading... Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>
