<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Travel</h3>
      <hr>
    </div>
  </div>

  <div fxFlex *ngIf="travels" [@expand]>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let travel of travels" [routerLink]="['/traveldetail', travel.id]" appHighlight>
        <img height="200px" src="{{BaseURL + travel.image}}" alt={{travel.name}}>
        <mat-grid-tile-footer>
          <h1>{{travel.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <div [hidden]="travels || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>
