/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import '~font-awesome/scss/font-awesome';


body { 
    padding: 0; 
    margin: 0; 
    font-family: Roboto, sans-serif; 
    
  }

  .margin-auto__content {
    display: flex;
    height: 250px;
    width: 200px;
  }

  .container {
    margin: 20px;
    display:flex;
}

$lt-gray: #ddd;
$background-dark: #2d5ea8;
$background-light: #7582cd;
$background-pale: #D1C4E9;
$primary-color-dark:   #2d4ea8;
$primary-color:        #3a42b7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.background-primary {
    background-color: $background-dark!important;
  }
.background-accent {
    background-color: $accent-color!important;
  }
.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}

.highlight {
  background-color: $background-pale;
  border: 1px solid $primary-color-dark;
  z-index: 1;
  transform: scale(1.01);
}
