<div class="container"
     class="fondo"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

     <div fxFlex fxFlexOffset="700px" class="form-size">
      <form novalidate [formGroup]="feedbackForm"  [hidden]= "isDisplayed" [@expand] #fform="ngForm" (ngSubmit)="onSubmit()">
        <div *ngIf="!isDisplayed && !feedback" [@expand]>
          <p>
            <mat-form-field class="half-width" class="add-margin">
              <input matInput formControlName="firstname" placeholder="Going to" type="text" required>
              <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
            </mat-form-field>
            <mat-form-field class="half-width">
              <input matInput formControlName="telnum" placeholder="Check in" type="tel" pattern="[0-9]*" required>
              <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
            </mat-form-field>
            <mat-form-field class="half-width">
              <input matInput formControlName="email" placeholder="Check out" type="email" email required>
              <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-checkbox class="add-margin">Add a Flight</mat-checkbox>
            
            <mat-checkbox class="add-margin">Add a Car</mat-checkbox>
          </p>
          <button type="submit" [disabled]="feedbackForm.invalid" mat-button class="background-primary text-floral-white" >Submit</button>
        </div>
      </form>
    </div>
</div>
