.add-margin {
    margin-right: 100px
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.fondo {
    background: url("/assets/images/paisaje.jpg") -40% center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

